In [1]:
import pandas as pd

# Load both CSV files
df1 = pd.read_csv('../Example_Data/sgRNA_insert_list.csv')
df2 = pd.read_csv('../Example_Data/example_sgRNA_inserts_2.csv')


# Define the columns you want to compare
columns_to_compare = [
    "gene", "parent aa", "parent codon", "aa position", "mutated aa",
    "child codon", "nt position", "dist mut pam", "pam"
]

# Subset the dataframes to only the relevant columns
df1_subset = df1[columns_to_compare].copy()
df2_subset = df2[columns_to_compare].copy()

# Remove duplicate rows if needed (optional)
df1_unique = df1_subset.drop_duplicates()
df2_unique = df2_subset.drop_duplicates()

# Find rows unique to df1
unique_to_df1 = pd.merge(df1_unique, df2_unique, how='outer', indicator=True)\
                  .query('_merge == "left_only"')\
                  .drop(columns=['_merge'])

# Find rows unique to df2
unique_to_df2 = pd.merge(df2_unique, df1_unique, how='outer', indicator=True)\
                  .query('_merge == "left_only"')\
                  .drop(columns=['_merge'])

# Print results
print("\nRows unique to File 1:")
print(unique_to_df1.to_string(index=False))

print("\nRows unique to File 2:")
print(unique_to_df2.to_string(index=False))

Rows unique to File 1:
Empty DataFrame
Columns: [gene, parent aa, parent codon, aa position, mutated aa, child codon, nt position, dist mut pam, pam]
Index: []

Rows unique to File 2:
gene parent aa parent codon  aa position mutated aa child codon  nt position  dist mut pam pam
alaA       LEU          CTT        107.0        PHE         TTC          319           -18 CGG
alaA       LEU          CTT        107.0        PHE         TTC          319           -12 TGG
alaA       LEU          CTT        107.0        PHE         TTC          319            -4 CGG
alaA       ALA          GCA        126.0        VAL         GTA          376           -21 CGG
alaA       ALA          GCA        126.0        VAL         GTA          376            -7 TGG
alaA       ALA          GCA        126.0        VAL         GTA          376            -2 CCT
alaA       ALA          GCA        126.0        VAL         GTA          376            12 CCC
alaA       VAL          GTC         13.0        ILE         ATA           37           -29 CCC
alaA       VAL          GTC         13.0        ILE         ATA           37           -16 CCA
alaA       VAL          GTC         13.0        ILE         ATA           37            15 CCG
alaA       ASP          GAC        157.0        ASN         AAT          469            -8 TGG
alaA       ASP          GAC        157.0        ASN         AAT          469            -1 CGG
alaA       ASP          GAC        157.0        ASN         AAT          469           -16 CCT
alaA       ASP          GAC        157.0        ASN         AAT          469            -3 CCC
alaA       PRO          CCT        167.0        SER         TCG          499           -27 CCT
alaA       PRO          CCT        167.0        SER         TCG          499            30 CCC
alaA       MET          ATG        191.0        ILE         ATA          571           -27 CGG
alaA       MET          ATG        191.0        ILE         ATA          571           -22 CGG
alaA       MET          ATG        191.0        ILE         ATA          571           -28 CCG
alaA       MET          ATG        191.0        ILE         ATA          571           -13 CCA
alaA       ALA          GCA        197.0        VAL         GTA          589           -16 TGG
alaA       ALA          GCA        197.0        VAL         GTA          589            -7 TGG
alaA       LEU          CTG        226.0        MET         ATG          676            12 CCT
alaA       SER          TCG        239.0        PRO         CCG          715            -6 CGG
alaA       SER          TCG        239.0        PRO         CCG          715           -27 CCT
alaA       SER          TCG        239.0        PRO         CCG          715           -19 CCA
alaA       SER          TCG        239.0        PRO         CCG          715           -13 CCT
alaA       SER          TCG        239.0        PRO         CCG          715            12 CCG
alaA       SER          TCG        239.0        PRO         CCG          715            27 CCG
alaA       ASN          AAC        311.0        LYS         AAG          931           -24 TGG
alaA       ASN          AAC        311.0        LYS         AAG          931           -21 CGG
alaA       ASN          AAC        311.0        LYS         AAG          931           -28 CCC
alaA       ARG          CGC        312.0        CYS         TGT          934           -27 TGG
alaA       ARG          CGC        312.0        CYS         TGT          934           -24 CGG
alaA       ARG          CGC        312.0        CYS         TGT          934           -29 CCT
alaA       ASP          GAT        319.0        ASN         AAT          955           -14 TGG
alaA       ASP          GAT        319.0        ASN         AAT          955           -21 CCG
alaA       ALA          GCC        340.0        VAL         GTA         1018           -12 CCC
alaA       LYS          AAA        341.0        ARG         CGT         1021            -1 CCA
alaA       VAL          GTC        385.0        ILE         ATA         1153           -21 CCG
alaA       VAL          GTC        385.0        ILE         ATA         1153            -5 CCG
alaA       LEU          CTG        390.0        GLN         CAG         1168           -20 CCG
alaA       LEU          CTG        390.0        GLN         CAG         1168            27 CCT
alaA       ALA          GCG        396.0        THR         ACC         1186             9 CCT
alaA       GLY          GGT        401.0        SER         TCG         1201            -6 CCT
alaA       ASP          GAC         49.0        GLU         GAG          145           -13 CCC
alaA       ASP          GAC         49.0        GLU         GAG          145            18 CCT
alaA       GLU          GAA         53.0        ASP         GAC          157           -18 CGG
alaA       GLU          GAA         53.0        ASP         GAC          157           -29 CCA
alaA       GLU          GAA         53.0        ASP         GAC          157           -25 CCC
alaA       GLU          GAA         53.0        ASP         GAC          157            -5 CCA
alaA       GLU          GAA         53.0        ASP         GAC          157             6 CCT
alaA       GLU          GAA         53.0        ASP         GAC          157            27 CCT
alaA       ILE          ATC         54.0        VAL         GTA          160           -21 CGG
alaA       ILE          ATC         54.0        VAL         GTA          160           -28 CCC
alaA       ILE          ATC         54.0        VAL         GTA          160            -8 CCA
alaA       ILE          ATC         54.0        VAL         GTA          160            24 CCT
alaA       ARG          CGC         60.0        HIS         CAC          178           -26 CCA
alaA       ARG          CGC         60.0        HIS         CAC          178           -15 CCT
alaA       ARG          CGC         60.0        HIS         CAC          178             6 CCT
alaA       ALA          GCT         65.0        SER         TCG          193            -9 CCT
alaA       ALA          GCT         65.0        SER         TCG          193            -5 CCT
alaA       ALA          GCT         65.0        SER         TCG          193            -1 CCG
alaA       ASP          GAT         92.0        HIS         CAC          274           -16 AGG
alaA       ASP          GAT         92.0        HIS         CAC          274            -9 TGG
alaA       ASP          GAT         92.0        HIS         CAC          274           -18 CCA